
.test1{
    background-image: url(https://images.pexels.com/photos/66869/green-leaf-natural-wallpaper-royalty-free-66869.jpeg);
    color:white;
}

.title{
    background-color: white;
    color: green;
}
body{
    text-align: center;
    color: white;
}

li{
    display: inline;
}